@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body{
    background-color: var(--main-background-color);
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo-container span{
    font-size: 25px;
    font-weight: 500;
    color: #41b4a3;
}
.registration-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.registration-container-2{
    max-width: 700px;
    width: 100%;
    background: white;
    padding:25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.registration-container-2 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: grey;
}
.register-sacco-error{
    padding-top: 5px;
    font-size: 12px;
}
.registration-container-2 a span{
    font-size: 14px;
    font-weight: 600;
    color: #1bcfb4;
}
.registration-container-2 .registration-title{
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.registration-container-2 .registration-title span{
    text-decoration: none;
    font-size: 18px;
    color: grey;
}
.registration-container-2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .registration-input{
    margin-bottom: 20px;
    width: 100%;
}
.user-details .registration-input input{
    height: 40px;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
}

.user-details .registration-input input:focus{
    border-color: var(--primary-text-admin-color);
}
.user-details .registration-input input:focus::placeholder{
    color: var(--primary-text-admin-color);
}
.user-details .registration-input .registration-details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
form .register-button{
    height: 45px;
    margin: 5px 0;
}
form .register-button input{
    height: 100%;
    padding: 0 50px;
    border-radius: 0.4rem;
    outline: none;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    background: var(--primary-text-admin-color);
}
.terms-and-conditions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.terms-and-conditions span{
    padding: 0 0 0 5px;
}
.terms-and-conditions span a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width: 584px) {
    .registration-container-2{
        max-width: 100%;
    }
    form .user-details .registration-input{
        margin-bottom: 5px;
        width: 100%;
    }
    .registration-container-2 form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    .registration-container-2 .registration-title{
        font-size: 1.0rem;
    }
    .user-details .registration-input .registration-details{
        font-size: 12px;
        margin-top: 10px;
    }
    .user-details .registration-input input::placeholder{
        font-size: 12px;
    }
    form .register-button input{
        padding: 0 35px;
        font-size: 13px;
    }
}
/*upload files css*/

.drop-zone{
    max-width: 200px;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border: 4px dashed #66a3b9;
    border-radius: 4px;
    color: grey;
}
.drop-zone--over{
    border-style: solid;
}
.drop-zone--input{
    display: none;
}
.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #65696a;
    background-size: cover;
    position: relative;
}
.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 12px;
}

/*end of the file uploads css*/