.footer{
    background-color: rgb(110, 109, 109);
    padding-top: 3.0em;

}
.footer-about{
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}
a:hover, input:focus{
    text-decoration: none;
    outline: none;
    color: black;
}
.footer-about .footer-logo{
    margin-bottom: 30px;
}
.footer-logo img{
    height: 7em;
    object-fit: cover;
}
.footer-about p{
    color: white;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}
.footer-widget{
    margin-bottom:30px;
}
.footer-widget h6{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}
.footer-widget ul li a{
    color: white;
    font-size: 1.3rem;
}
.footer-widget .footer-newsletter p{
    color: white;
    font-size: 1.3rem;
}
.footer-widget .footer-newsletter form{
    position: relative;
}
.footer-widget .footer-newsletter input{
    width: 100%;
    font-size: 14px;
    color: white;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid rgb(214, 178, 214);
}

.footer-widget .footer-newsletter input::placeholder{
    color: black;
}
.footer-widget .footer-newsletter form button{
    color: black;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}
.newsletter-icon{
    color: white;
    font-size: 1rem;
}
.footer-copyright-text{
    border-top: 1px solid rgb(214, 178, 214);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-copyright-tex p{
    color: black;
    margin-bottom: 0;
    font-size: 1rem;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social a{
    color: white;
    font-size: 1.3rem;
    margin-right: 30px;
}

.social-icon-style{
    display: grid;
    place-items: center;
    background: rgb(214, 178, 214);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 767px){
    .footer-about p{
        text-align: center;
    }
    .footer-widget{
        text-align: center;
    }
    .subscribe-form{
        margin: 5px 5px;
    }
    .social-icon-style{
        width: 30px;
        height: 30px;
    }
    .footer-copyright-text{
        text-align: center;
        font-size: 1.3rem;
    }
}

/*small footer*/
.bottom-nav-wrapper{
    display: none;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3f3d3d;
    overflow: hidden;
    display: flex;
    align-items: baseline;

}
.bottom-nav-icon{
    font-size: 12px;
}
.bottom-nav-icon-middle{
    font-size: 12px;
    width: 25px;
    height: 25px;
    background: rgb(214, 178, 214);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.bottom-nav a {
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

.bottom-nav-tags{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3px;
}

.bottom-nav-tags span{
    font-size: 12px;
    color: white;
}

@media (max-width: 768px) {
    .bottom-nav{
        display: flex;
    }
    .bottom-nav-wrapper{
        display: block;
    }
}
@media (max-width: 302px){
    .bottom-nav-tags span{
        font-size: 8px;
    }
    .bottom-nav-icon{
        font-size: 8px;
    }
    .bottom-nav-icon-middle{
        font-size: 8px;
        width: 20px;
        height: 20px;
        background: rgb(214, 178, 214);
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
    .last-hr{
        display: none;
    }
}

/*end of small footer*/