html{
    scroll-behavior: smooth;
}
.scroll-btn-main-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.welcome-scroll-btn{
    color: white;
    background: transparent;
    border: 1px solid rgb(214, 178, 214);
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    border-bottom: none;

}
.arrow-icon-down{
    font-size: 1rem;
    padding-left: 5px;
    animation: bounce 1s linear infinite;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
.main-container{
    background: url('../images/bg-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100dvh;
    background-position: center;
    position: relative;
    overflow: hidden;
}


/*new css*/


.logo{
    width: 50px;
    cursor: pointer;
}
.welcome-navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.welcome-button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;

}
.content small{
    font-size: 18px;
    font-weight: 600;

}
.content p{
    font-size: 25px;
    font-weight: 600;
}
.welcome-heading{
    font-size: 60px;
    margin: 10px 0 20px;
    line-height: 60px;
}
.welcome-description{
    padding-bottom: 20px;
}


.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(var(--background-color), #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 35px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
}
/*end of new css*/

.description-section{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;

}
.content-section{
    text-align: center;
    animation-duration: 1s;
    animation-name: example;
    animation-timing-function: ease-out;
}
@keyframes example {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.description-section h5{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}
.moving-text-container {
    position: relative;
    width: 100%;
    height: 4em; /* adjust this as needed */
    overflow: hidden;
    background: linear-gradient(to right, var(--background-color), #000729);
    display: flex;
    align-items: center;
    text-align: center;
}

.moving-text {
    position: absolute;
    white-space: nowrap;
    animation: move-text 40s linear infinite;
}
.moving-text-container:hover .moving-text {
    animation-play-state: paused;
}
@keyframes move-text {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}
.moving-text-name{
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}
.moving-text-icon{
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
}
.moving-text-shares{
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    margin-right: 8em;
}
.onboarded-sacco-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
}
.onboarded-sacco-container h5{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--background-color);
}
.slider-main-container{
    padding-top: 20px;
    padding-bottom: 50px;
}
.card-img-top{
    width: 100%;
    height: 8em;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    .card-img-top{
        height: 8em;
    }
}
.card-body h5{
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    color: grey;
}
.card-body p{
    font-weight: 300;
    letter-spacing: 2px;
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;

}
.shares-heading{
    font-size: 14px;
    font-weight: 500;
    padding-right: 20px;
}
.sacco-read-more{
    border: 1px solid var(--background-color);
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;

}

.sacco-read-more:hover{
    background: var(--primary-color);
    color: white;
    transition: 0.5s;
    border: none;
}
.arrow-icon2{
    font-size: 0.8rem;
    padding-left: 5px;
}
.arrow-icon::before{
    font-weight: 300;
}

/*footer css */

/*end of the footer css*/
/*explore section css*/
.main-explore-container{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(234, 234, 234);
    padding: 1.5rem 1rem;
}
.explore-select{
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: grey 1px solid;
    margin-right: 10px;
}

.explore-select:focus{
    border: 1px solid var(--background-color);
    outline: none;
}
.explore-select option{
    font-size: 12px;
    cursor: pointer;
}
.explore-search-container{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
#search-by-value{
    width: 100%;
    padding: 8px 10px;
    border: grey 1px solid;
    border-radius: 4px;
    margin-right: 1rem;
}
#search-by-value:focus{
    border: 1px solid var(--background-color);
}
#search-by-value:focus::placeholder{
    color: var(--background-color);
}
.explore-search{
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--background-color);
    color: white;
    font-weight: 500;
}
.recent-search-container{
    display: flex;
    padding-top: 10px;
    align-items: center;
}
.recent-search-container a{
    color: white;
}
.search-links{
    padding: 5px 20px;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: #8bc2ba;
    border-radius: 4px;
}

.saved-search-icon{
    font-size: 0.8rem;
    color: white;
    padding-left: 10px;
}
.recommended-section{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recommended-section h3{
    font-size: 1.2rem;
    font-weight: 500;
}
.recommended-section a{
    color: white;
    text-decoration: none;
}
.explore-all{
    padding: 8px 20px;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 4px;
}
/*end of explore section css*/
@media all and (max-width:620px){
    .main-row-container{
        row-gap: 1.5em;
    }
    .header-two-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-shares-main-container{
        box-sizing: border-box;
    }
    .header-content-3 h6{
        color: grey;
        font-size: 13px;
        font-weight: 300;
    }
    .header-content-3-select span{
        color: grey;
        font-size: 13px;
        font-weight: 300;
    }
    #shares-heading1{
        display: none;
    }
    .main-container{
        height: 100dvh;
        background-size: cover;
    }
    .description-section a{
        padding: 1.2rem 4.5rem;
        font-size: 1.2rem;
    }
    .top-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.5rem;
    }
    .welcome-scroll-btn{
        display: none;
    }
    .sacco-read-more{
        padding: 0.8rem 1.5rem;
        font-size: 0.8rem;
    }
    .arrow-icon2{
        display: none;
    }
    .side-bar{
        display: none;
    }

    .welcome-heading{
        font-size: 40px;
        margin: 10px 0 30px;
        line-height: 40px;
    }

    .content p{
        font-size: 18px;
    }
    .welcome-description{
        padding-bottom: 60px;
    }
}
