.sacco-image{
    display: flex;
    align-items: center;

}
.card-body a{
    text-decoration: none;
}
.image-tag{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px solid #ddd;
    padding: 5px;
    object-fit: cover;
    transition: 300ms ease-out;
}
.image-tag:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2px 1px var(--primary-color) !important;
}
h5::first-letter{
    text-transform: uppercase;
}
.shares-value-price-title{
    display: flex;
    justify-content: space-between;
}

.list-share-sell-button{
    background: rgb(214, 178, 214);
    color: white;
}
.list-share-sell-button:hover{
    background: rgb(224, 191, 224) !important;
    color: #eee9e9 !important;
    transition: 300ms ease-out;
}

.shares-container-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 15px;

}
.shares-container-wrapper h5{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.shares-container-wrapper span{
    font-size: 12px;
    font-weight: 300;
    color: black;
    margin-bottom: 5px;
}
.customize-card{
    position: relative;
    border: none;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
    border-radius: 3px;
}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: lowercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    --webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: var(--primary-color);
    background: var(--primary-color);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--primary-color);
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--primary-color);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--primary-color);
}

.list-shares-shares{
    padding-bottom: 10px;
}

/*styles for the placeholder*/

.placeholder-main-container{
    display: flex;
    align-items: center
}
.placeholder-sacco-image{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.placeholder-sacco-name-container{
    padding-left: 10px;
    width: 100%;
}
.placeholder-sacco-name{
    border-radius: 10px;
}
.placeholder-price{
    border-radius: 10px;
}
.placeholder-button-div{
    display: grid;
    place-items:center
}
.placeholder-button{
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    .shares-container-wrapper{
        padding-left: 0;
    }
    .shares-value-price-title h5{
        margin-bottom: 10px;
    }
    .shares-value-price-title span{
        margin-bottom: 10px;
    }
    .shares-value-price-title button{
        margin-bottom: 10px;
    }
    .customize-card{
        margin-bottom: 10px;
    }
    .ribbon {
        display: none;
    }
    .sacco-image{
        flex-direction: column;
    }
    .image-tag{
        width: 40px;
        height: 40px;
    }
    .list-shares-shares{
        padding-bottom: 0;
    }
    .shares-container-wrapper h5{
        font-size: 12px;
        font-weight: 500;
    }
    .shares-container-wrapper span{
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 3px;
    }
    .placeholder-main-container{
        flex-direction: column;
    }
    .placeholder-sacco-image{
        width: 40px;
        height: 40px;
    }

}
