
.reject-share-errors{
    color: red;
    font-size: 12px;
    font-weight: 500;
    display: none;
}


.error {
    border-color: red;
}

.valid {
    border-color: green;
}

.help-block {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
