.registration-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.registration-container-2{
    max-width: 700px;
    width: 100%;
    background: white;
    padding:25px 30px;
    border-radius: 5px;
}
.registration-container-2 .registration-title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.registration-container-2 .registration-title span a{
    text-decoration: none;
    font-size: 14px;
    color: grey;
}
.registration-container-2 .registration-title::before{
    content: " ";
    position: absolute;
    height: 3px;
    width: 120px;
    left: 0;
    bottom: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.registration-container-2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .registration-input{
    margin-bottom: 5px;
    width: 100%;
}
.user-details .registration-input input{
    height: 40px;
    width: 100%;
    border-radius: 40px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
}
.user-details .registration-input .registration-details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
form .register-button{
    height: 45px;
    margin: 10px 0;
}
form .register-button input{
    height: 100%;
    padding: 0 40px;
    border-radius: 40px;
    outline: none;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.terms-and-conditions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.terms-and-conditions span{
    padding: 0 0 0 5px;
}
.terms-and-conditions span a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}



/*customizing the supperAdmin*/

.btn-gradient-primary{
    background: #1bcfb4 !important;
}
.bg-gradient-primary{
    background: #1bcfb4 !important;
}

.sidebar .nav .nav-item.active > .nav-link .menu-title{
    color: #1bcfb4 !important;
}
.sidebar .nav .nav-item.active > .nav-link i{
    color: #1bcfb4 !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active{
    color: #1bcfb4 !important;
}

/*end of the css*/
@media (max-width: 584px) {
    .registration-container-2{
        max-width: 100%;
    }
    form .user-details .registration-input{
        margin-bottom: 5px;
        width: 100%;
    }
    .registration-container-2 form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}


