.registration-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(249, 243, 249);
    flex-direction: column;
}
.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.logo-container span{
    font-size: 25px;
    font-weight: 500;
    color: #41b4a3;
}
.logo-container img{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
.registration-container-2{
    max-width: 700px;
    width: 100%;
    background: white;
    padding:25px 30px;
    border-radius: 5px;
}
.registration-container-2 .registration-title{
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.registration-container-2 .registration-title span a{
    text-decoration: none;
    font-size: 14px;
    color: grey;
}

.registration-container-2 .registration-title span{
    font-size: 18px;
    color: grey;
}
.registration-container-2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .registration-input{
    margin-bottom: 10px;
    width: 100%;
}
.user-details .registration-input input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
}
.user-details .registration-input input:focus{
    border: 1px solid #41b4a3;
}
.user-details .registration-input input:focus::placeholder{
    color: #41b4a3;
}
.user-details .registration-input .registration-details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.register-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registration-container-2 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: grey;
}
.registration-container-2 a span{
    font-size: 14px;
    font-weight: 600;
    color: #1bcfb4;
}
form .register-button{
    height: 45px;
    margin: 10px 0;
}
form .register-button input{
    height: 100%;
    padding: 0 40px;
    border-radius: 5px;
    outline: none;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    background: #41b4a3;
}
.terms-and-conditions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.terms-and-conditions span{
    padding: 0 0 0 5px;
}
.terms-and-conditions span a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #1bcfb4;
}

/*customizing the supperAdmin*/

.btn-gradient-primary{
    background: #1bcfb4 !important;
}
.bg-gradient-primary{
    background: #1bcfb4 !important;
}

/*side bar*/
.sidebar{
    background: #1bcfb4 !important;
}

.sidebar .nav .nav-item.active {
    background: #1bcfb4 !important;

}
.sidebar .nav .nav-item.active:hover {
    background: #81f3e1 !important;
    color: black !important;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: white !important;
}
.sidebar .nav .nav-item:hover{
    background: #81f3e1 !important;
    color: black !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link{
    color: black !important;
}
.sidebar .nav .nav-item .nav-link .menu-title{
    font-weight: 600;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active{
    color: white !important;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow{
    color: black !important;
}
.sidebar .nav .nav-item .nav-link i{
    color: black !important;
}
.sidebar .nav .nav-item.active > .nav-link i{
    color: white !important;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before{
    color: black !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active:before{
    color: white !important;
}
/*navbar*/
.navbar{
    background: #1bcfb4 !important;
}
.navbar .navbar-brand-wrapper{
    background: #1bcfb4 !important;
}
.navbar .navbar-menu-wrapper .navbar-toggler{
    color: black !important;
}
.navbar .navbar-menu-wrapper{
    color: black !important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after{
    color: black !important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item:hover{
    color: black !important;
}
.card .card-body{
    padding: 10px 20px;
}
.mb-5{
    margin-bottom: 10px !important;
}
.mb-3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h2, .h2, .h2{
    font-size: 1.4rem;
    font-weight: 500;
}

.form-control:focus{
    border: 1px solid #1bcfb4 !important;
}

.form-control:focus::placeholder {
    color: #1bcfb4 !important;
}
/*end of navbar*/
/*end of the css*/


.transaction-icons-main{
    display: flex;
    align-items: center;
}
.transaction-icon{
    background: #1bcfb4;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    border-radius: 3px;
    color: var(--primary-text-color);
}

/*other css*/
.set-buyer-commission-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.add-buyers-commission-icon{
    font-size: 13px;
    margin-right: 10px;
}
.buyer-commission{
    display: grid;
    place-items: center;
    background: #769f99;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: white;
    margin-right: 15px;
}
.buyer-commission-container{
    display: flex;
    align-items: center;
}
.buyer-commission-error{
    color: red;
    font-size: 13px;
    margin-left: 10px;
}
.update-commission-error{
    color: red;
    font-size: 13px;
}
.sacco-commission-error-select{
    color: red;
    font-size: 13px;
}
.sacco-commission-error-input{
    color: red;
    font-size: 13px;
}
.update-commission-success {
    color: green;
    font-size: 13px;
}
.buyer-commission-success{
    color: green;
    font-size: 13px;
}
.form-select {
    height: 50px;
}
.dropdown-menu {
    max-height: 50px;
    overflow-y: auto;
}
.set-sacco-commission-success{
    color: white;
    font-size: 13px;
    padding-left: 12px;

}
.sacco-commission-success-container{
    background: #1bcfb4;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: none;
}
.sacco-commission-error-container{
    background: #f8d7da;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: none;
}
.set-sacco-commission-error{
    color: red;
    font-size: 13px;
    padding-left: 12px;
}
.update-sacco-commission-error {
    color: red;
    font-size: 13px;
    padding-left: 12px;
}
.register-sacco-error{
    padding-top: 5px;
    font-size: 12px;
}
.card-max-width{
    width: 80%;
    margin: 0 auto;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown{
    overflow-y: hidden;
    background: #6faba2;
}
.page-item.active .page-link {
    background-color: #1bcfb4 !important;
    border-color: #1bcfb4 !important;
}
/*end of other css*/

@media (max-width: 584px) {
    .registration-container-2{
        max-width: 100%;
    }
    form .user-details .registration-input{
        margin-bottom: 5px;
        width: 100%;
    }
    .registration-container-2 form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
    .card-max-width{
        width: 100%;
    }
}


